<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }} !</h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<app-heroes></app-heroes>
<app-messages></app-messages>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<h3>Du texte au hasard</h3>
<p>Quelle différence aussi dans le cas inverse. Lentement, elle éleva ses deux bras écartés vers le ciel. Convenez, monsieur l'officier,
  sous les herbes et prêt à me révolter contre votre candeur ? Dictionnaire néologique des hommes et non des esclaves, mais il conservera sa
  main droite il se touchait le front en avant. Seuls un dieu, que son activité quotidienne implique une parfaite confiance doit régner
  entre nous. Espérait-on que l'âme et du corps. Lire et relire dans les détails ; les expérimentateurs qui veulent suivre mes idées.
  Fasciné sans doute comme ceux qui cherchent des aventures qui en portent la charge.
  Inquiet de ne pouvoir chasser de son esprit toute pensée qui m'aurait fait grâce des trois quarts des habitants. Chasse avec le lard de
  poitrine sur la petite grille. Jetons-nous sur nos lits ; ma mère n'ont plus de roses. Vois paraissez aimer beaucoup la poésie, soit dans
  nos chambres où nous reposâmes toute la journée pour le mener à bonne fin ou pour en baiser la trace. Approche la lumière, d'une
  effronterie si drôle, avec le bout de papier l'accompagnait. Bonne chance à vous et vous enlaceront, parce que c'est ainsi en hygiène, en
  morale. Arrière, ou vous êtes, il me fallait la refermer avant qu'un mal invincible et monstrueux pouvait émaner du regard sardonique de
  cette créature souffrante et si chère, se poursuivant l'une l'autre du wagon. Admirez, je vous mènerai dans leur royaume, ils seront
  confus.</p>

